<!DOCTYPE html>
<html lang="en">


<!-- molla/index-5.html  22 Nov 2019 09:55:58 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AJVX -the style you choose</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="AJVX">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/public/user/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/user/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/user/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/public/user/assets/images/icons/site.html">
    <link rel="mask-icon" href="/public/user/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/public/user/assets/images/icons/favicon.ico">
   <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/public/user/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/public/user/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/user/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/public/user/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/public/user/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/public/user/assets/css/style.css">
    <link rel="stylesheet" href="/public/user/assets/css/skins/skin-demo-5.css">
    <link rel="stylesheet" href="/public/user/assets/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="/public/user/assets/css/demos/demo-5.css">


</head>


<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
              

                        
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->
   
        <div class="header-middle sticky-header">
            <div class="container-fluid">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>

                    <a href="/login" class="logo">
                        <img src="/public/user/assets/images/demos/demo-5/logo.png" alt="Molla Logo" width="125" height="45">
                    </a>

                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container active">
                                <a href="/" class="sf-with-ul">Home</a>

                                    
                            </li>    
                            <li>
                                <a href="/shop" class="sf-with-ul">Shop</a>

                                
                            </li>
                            <li>
                                <a href="product.html" class="sf-with-ul">Wallet</a>

                               
                            </li>
                            <li>
                                <a href="#" class="sf-with-ul">About</a>
                                <ul>
                                    <li>
                                        <a href="about.html" class="sf-with-ul">Contact us</a>
                                    </li>
                            <li>
                   
                                <ul>
                                  
                            </li>
                            
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-left -->

                <div class="header-right">
                    <div class="header-search header-search-extended header-search-visible">
                        <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                        <form action="#" method="get">
                            <div class="header-search-wrapper">
                                <label for="q" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->
                    
                    <a href="/wishlist" class="wishlist-link">
                        <i class="icon-heart-o"></i>
                    </a>
                    <div class="dropdown cart-dropdown">
                        <a href="/cart" class="dropdown-toggle" data-display="static">
                            <i class="icon-shopping-cart"></i>
                           
                        </a>
                    </div>
                    
                    <div class="header-profile">
                        <% if (typeof user !== 'undefined' && user) { %>
                            <!-- User is logged in, show dropdown menu -->
                            <a class="profile-link" href="#" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="icon-user" style="color: #000; font-size: 24px; font-weight: bold;"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="profileDropdown">
                                <a class="dropdown-item" href="/profile" style="font-size: 18px;">Profile</a>
                                <a class="dropdown-item" href="/logout" style="font-size: 18px;">Logout</a>
                            </div>
                        <% } else { %>
                            <!-- User is not logged in, show login link -->
                            <a href="/login" class="profile-link">
                                <i class="icon-user" style="color: #000; font-size: 24px; font-weight: bold;"></i>
                            </a>
                        <% } %>
                    </div>
                    
                    
                      
                </div><!-- End .header-right -->
            </div><!-- End .container-fluid -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->
    <script>
        // Function to update the cart count badge
        function updateCartCount(count) {
          const cartCountElement = document.querySelector('.cart-count');
          if (cartCountElement) {
              cartCountElement.textContent = count;
          }
        }
      
        // Fetch the cart count from the server
        async function fetchCartCount() {
          try {
            const response = await fetch('/cart/count');
            const data = await response.json();
            const cartCount = data.totalItems;
            updateCartCount(cartCount); // Update cart count badge
          } catch (error) {
            console.error('Error fetching cart count:', error);
          }
        }
      
        // Call fetchCartCount when the page loads
        window.addEventListener('load', fetchCartCount);
      </script>
      
